<div class="center-container bg-green-400">
  <h1 class="text-2xl font-bold text-black">Welcome, Experimental Matters</h1>
</div>

<header class="bg-blue-800 py-4">
  <nav class="text-center bg-blue1-400">
    <ul class="flex flex-wrap justify-center p-0 m-0 space-x-4">

      <li>
        <a
          routerLink="/tabs"
          routerLinkActive="active"
          class="text-white py-2 px-4 hover:bg-gray-600 rounded"
          >1. Tabs</a
        >
      </li>

      <li>
        <a
          routerLink="/views"
          routerLinkActive="active"
          class="text-white py-2 px-4 hover:bg-gray-600 rounded"
          >2. Views</a
        >
      </li>

      <li>
        <a
          routerLink="/downloads"
          routerLinkActive="active"
          class="text-white py-2 px-4 hover:bg-gray-600 rounded"
          >3. Downloads</a
        >
      </li>

      <li>
        <a
          routerLink="/totals"
          routerLinkActive="active"
          class="text-white py-2 px-4 hover:bg-gray-600 rounded"
          >4. Totals</a
        >
      </li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>
